h1{
  font-size: 30px;
}

.video {
  display: block;
  margin: 5% 13%;
}

.button-green {
  color: #FFF;
  font-weight: bold;
  background-color: green;
  border-color: green;
}

.button-green:hover {
  color: #004600;
  font-weight: bold;
  background-color: green;
  border-color: green;
}

.container {
  border: #e1e1e1 1px solid;
  border-radius: 5px;
  padding: 40px;
  margin-top:20px;
}

.rtl {
  direction: rtl;
}

.cv-heading {
  position: relative;
}

.button-plasma {
  background-color: #004A7F;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: none;
  color: #00B200;
  cursor: pointer;
  display: inline-block;
  font-family: Arial;
  font-size: 20px;
  padding: 0px 20px;
  text-align: center;
  text-decoration: none;
}
.button-plasma:hover {
  color: #00BB00;
}

.lightsaber input[type=checkbox]#yoda-example-5:checked ~ div.plasma {
	height: 140px;
}
.lightsaber input[type=checkbox]#yoda-example-8:checked ~ div.plasma {
	height: 230px;
}
.lightsaber input[type=checkbox]#yoda-example-9:checked ~ div.plasma {
	height: 200px;
}

@-webkit-keyframes glowing {
  0% { background-color: #FFFFFF; -webkit-box-shadow: 0 0 3px #00B200; }
  50% { background-color: #FFFFFF; -webkit-box-shadow: 0 0 20px #00FF00; }
  100% { background-color: #FFFFFF; -webkit-box-shadow: 0 0 3px #00B200; }
}

@-moz-keyframes glowing {
  0% { background-color: #FFFFFF; -moz-box-shadow: 0 0 3px #00B200; }
  50% { background-color: #FFFFFF; -moz-box-shadow: 0 0 20px #00FF00; }
  100% { background-color: #FFFFFF; -moz-box-shadow: 0 0 3px #00B200; }
}

@-o-keyframes glowing {
  0% { background-color: #FFFFFF; box-shadow: 0 0 3px #00B200; }
  50% { background-color: #FFFFFF; box-shadow: 0 0 20px #00FF00; }
  100% { background-color: #FFFFFF; box-shadow: 0 0 3px #00B200; }
}

@keyframes glowing {
  0% { background-color: #FFFFFF; box-shadow: 0 0 3px #00B200; }
  50% { background-color: #FFFFFF; box-shadow: 0 0 20px #00FF00; }
  100% { background-color: #FFFFFF; box-shadow: 0 0 3px #00B200; }
}

.button-plasma {
  -webkit-animation: glowing 5000ms infinite;
  -moz-animation: glowing 5000ms infinite;
  -o-animation: glowing 5000ms infinite;
  animation: glowing 5000ms infinite;
}

.hidden {
  display: none;
}

/* home page */
.example-grid .column, .example-grid .columns {
  background: #EEE;
  text-align: center;
  border-radius: 4px;
  font-size: 1rem;
  text-transform: uppercase;
  height: 30px;
  line-height: 30px;
  margin-bottom: .75rem;
  font-weight: 600;
  letter-spacing: .1rem;
}
/* home page */
