{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <title>Always listen to Master Kenobi</title>
    <link rel="stylesheet" href="{% static "resume/skeleton.css" %}">
    <link rel="stylesheet" href="{% static "resume/custom.css" %}">
    <script type="text/javascript" src="{% static 'static_jquery/js/jquery.js' %}"></script>
  </head>
  <body class="container">
    <section class="row">
        <header class="twelve columns">
            <h1>Jar Jar Bings is an abomination!</h1>
            <hr>
        </header>
    </section>

    <div class="video row">
        <video class="twelve columns" autoplay loop>
          <source src="{% static "resume/choosen_one.mp4" %}" type="video/mp4">
          Your browser does not support the video tag.
        </video>
    </div>

    <div class="example-grid docs-example">
      {% for quote in quotes %}
        <div class="row">
          <div class="one column">{{ forloop.counter }}</div>
          <div class="eleven columns">{{ quote }}</div>
        </div>
      {% endfor %}

    </div>
  <body>
</html>
