{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>Abhai Sasidharan</title>
    <link rel="stylesheet" href="{% static "resume/skeleton.css" %}">
    <link rel="stylesheet" href="{% static "resume/custom.css" %}">
    <link rel="stylesheet" href="{% static "resume/lightsabers.css" %}">
    <script type="text/javascript" src="{% static 'static_jquery/js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static "resume/custom.js" %}"></script>
    <audio id="saberup" src="{% static "resume/saberup.mp3" %}"></audio>
    <audio id="saberdown" src="{% static "resume/saberdown.mp3" %}"></audio>
</head>
<body>
  <div class="container">
    <section class="row">
        <header class="twelve columns">
            <h1>The force is strong with this one!</h1>
            <hr>
        </header>
    </section>
    {% if cv %}
    <section class="row">
      {% for cv_section in cv %}
        {% for cv_heading, section_details in cv_section.items %}
        <div class="cv-element">
          <div class="cv-heading row">
            <div class="lightsaber one column">
      				<label for="yoda-example-{{ forloop.parentloop.counter }}"></label>
      				<input type="checkbox" id="yoda-example-{{ forloop.parentloop.counter }}" class="force">
      				<div class="switch"></div>
      				<div class="plasma yoda"></div>
      			</div>
            <div class="three columns" style="color: green;">
            </div>
            <div class="eight columns"><a class="button button-plasma" href="javascript:void(0);" id="cv-title">{{ cv_heading }}</a></div><br>
          </div>
          <div class="cv-items row hidden">
            {% for section_detail in section_details %}
              {% for left, right in section_detail.items %}
                <div class="row">
                  <div class="one column"></div>
                  <div class="three columns rtl" style="direction: rtl;"><b>{{ left|safe }}</b></div>
                  <div class="eight columns">{{ right|safe }}</div>
                </div>
              {% endfor %}
            {%  endfor %}
          </div>
        </div>
        {% endfor %}
        <hr>
      {% endfor %}
    </section>
    {% else %}
        <p>CV EMPTY!</p>
    {% endif %}

  </div> <!-- container -->
</body>
</html>
